//====================================================================================================
.greet-page {
    @include adaptiveValue("padding-top", 120, 80);
    @include adaptiveValue("padding-bottom", 80, 40);
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    // .greet-page__container
    &__container {}
    // .greet-page__body
    &__body {}
}
.body-greet-page {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    // .body-greet-page__wrapper
    &__wrapper {
    }
    // .body-greet-page__title
    &__title {
        opacity: 0;
        &.visible {
            opacity: 1;
            transition: opacity 2s ease 0.3s;
        }
    }
    // .body-greet-page__text
    &__text {
        max-width: percent(800, 600);
        opacity: 0;
        &.visible {
            opacity: 1;
            transition: opacity 2s ease 0.8s;
        }
    }
    // .body-greet-page__list
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: toRem(20);
        color: #f7eeee;
        position: relative;
        z-index: 5;
    }
    // .body-greet-page__item
    &__item {}
    // .body-greet-page__link
    &__link {
        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
//====================================================================================================
.about-page {
    @include adaptiveValue("padding-top", 120, 80);
    @include adaptiveValue("padding-bottom", 80, 40);
    position: relative;
    // .about-page__container
    &__container {}
    // .about-page__body
    &__body {}
    // .about-page__title
    &__title {}
    // .about-page__text
    &__text {
        @include adaptiveValue("font-size", 29, 16);
        line-height: 150%;
    }
}
