//====================================================================================================
.greet-page {
    @include adaptiveValue("padding-top", 120, 80);
    @include adaptiveValue("padding-bottom", 80, 40);
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    // .greet-page__container
    &__container {}
    // .greet-page__body
    &__body {}
}
.body-greet-page {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    // .body-greet-page__wrapper
    &__wrapper {
    }
    // .body-greet-page__title
    &__title {
        opacity: 0;
        &.visible {
            opacity: 1;
            transition: opacity 2s ease 0.3s;
        }
    }
    // .body-greet-page__text
    &__text {
        max-width: percent(800, 600);
        opacity: 0;
        &.visible {
            opacity: 1;
            transition: opacity 2s ease 0.8s;
        }
    }
    // .body-greet-page__list
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: toRem(20);
        color: #f7eeee;
        position: relative;
        z-index: 5;
    }
    // .body-greet-page__item
    &__item {}
    // .body-greet-page__link
    &__link {
        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
//====================================================================================================
.about-page {
    @include adaptiveValue("padding-top", 180, 80);
    @include adaptiveValue("padding-bottom", 180, 80);
    position: relative;
    // .about-page__container
    &__container {}
    // .about-page__body
    &__body {}
    // .about-page__title
    &__title {}
    // .about-page__text
    &__text {}
    // .about-page__stack
    &__stack {}
}
.stack-about {
    @include adaptiveValue("padding-top", 80, 40);
    display: flex;
    justify-content:center;
    align-items: center;
    gap: toRem(20);
    @media (max-width:$mobile) {
        flex-wrap: wrap;
    }
    // .stack-about__item
    &__item {
        padding: toRem(20) toRem(15);
        border: 1px solid black;
        @include adaptiveValue("max-width", 320, 290);
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    // .stack-about__image
    &__image {
        img {
            @include adaptiveValue("width", 100, 70);
            @include adaptiveValue("height", 100, 70);
        }
    }
    // .stack-about__title
    &__title {
        color: #fff;
        font-size: toRem(24);
        line-height: math.div(40, 24);
    }
    // .stack-about__text
    &__text {
        text-align: center;
        color: #fff;
        font-size: toRem(18);
        line-height: math.div(30, 18);
    }
}
